* {
    margin: 0;
    padding: 0;
}

body {
    margin: 7px;
}

a {
    text-decoration: none;
    color: black;
}

.container-main {
    display: flex;
}

.menu-cadastro {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    border-style: groove;
    height: 100vh;
    width: 15%;
    border-radius: 5px;
    margin-left: -100%;
    transition: 0.3s;
}

.menu-cadastro .menu-tourgle {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -10em;
}

.menu-cadastro ul .titulo-menu {
    margin-bottom: 2em;
}

.menu-cadastro ul .line {
    border-radius: 10px;
    background-color: black;
    list-style: none;
    width: 30px;
    height: 3px;
}

.menu-cadastro ul .line1 {
    transform: rotate(-45deg) translate(-22px, -2px);
}

.menu-cadastro ul .line2 {
    transform: rotate(45deg) translate(20px, 1px);
}

.menu-cadastro .lista-menu-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 2.5em;    
}

.menu-cadastro .lista-menu-cadastro .li-menu {
    margin-bottom: 4em;
}

.header {
    display: flex;
    flex-direction: column;
    border-style: groove;
    height: 100vh;
    width: 10%;
    border-radius: 5px;
}

.header .container-header .logo-page {
    margin-bottom: 150px;
}

.header .container-header .nav-bar .list-menu {
    list-style: none;
}

.header .container-header .nav-bar .list-menu .ancor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .container-header .nav-bar .list-menu .lista-menu {
    margin-top: 20px;
}

.header .container-header .nav-bar .list-menu .icon {
    width: 32px;
    height: 32px;
}

.container-top {
    display: flex;
    border-style: groove;
    height: 20%;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.conteiner-center {
    width: 100vw;
    height: 100vh;
}

.conteiner-center .container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    width: 100%;
    height: 80%;
}