@media print {
    .container-main{
        visibility: hidden;
    }

    .printPed {
        margin-right: 0;
    }
}

.header-print {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 10%;
    border-bottom: 3px solid #002333;
}

.titulo-print {
    color: #000000;
}

.hi-line-print {
    position: relative;
    top: 50px;
    border-color: 1px #002333;
    width: 100%;
}

.body-print {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
    position: absolute;
    z-index: -2;
    top: 0;
    margin-right: -1000%;    
}

.text-print {
    display: block;
    position: relative;
    top: 50px;
    color: #002333;
    font-size: 14px;
}

.botton-print {
    align-items: center;
    position: fixed;
    width: 100%;
    height: 20%;
    border-top: 3px solid #002333;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-form-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.titulo-form {
    flex-wrap: wrap;
    align-content: center;
    flex-shrink: 2em;
    flex-grow: 2em;
}

.container-form-content {
    display: flex;
    justify-content: center;
    width: 91%;
    height: 4000px;
    overflow: hidden;
}

.icon-forms {
    display: flex;
    flex-grow: 2em;
    flex-shrink: 2em;
    width: 32px;
    height: 32px;
    padding: 1em;
    border-radius: 0 5px 5px 0;
}

.icon-forms:hover {
    background-color: #159a9c4b;
}

.form {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
}

.div-componente {
    align-self: flex-start;
    height: auto;    
}

.div-form-cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
    background-color: #159a9c4b;
    border-radius: 6px;
    width: 70em;
    height: 28em;
}

.input-cadastro {
    align-self: center;
}

.div-input-header-cad {
    width: 100%;
    height: 20px;
}

@media (max-width: 1190px){
    .div-form-cadastro {
        justify-content: center;
        gap: 1.5em;
    }
}

@media (max-width: 830px){
    .div-form-cadastro {
        justify-content: center;
    }
    
}

.input-cadastro {
    align-content: flex-start;
    flex-shrink: 2rem;
    flex-grow: 2em;
    margin-top: 2em;
    min-width: 250px;
    width: 25%;
    height: 30px;
    border-radius: 5px;
    border-style: groove;
    border-color: #FFFFFF;;
    color: #002333;
    box-shadow: inset 10px 10px 100px 40px rgba(179, 189, 200, 0.2);
}


.div-form-ped {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1%;
    background-color: #159a9c4b;
    width: 70em;
    height: 30em;
    border-radius: 6px;
}

.div-input-header-cad {
    display: flex;
    justify-content: centers;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    margin: 2px;
    padding: 1.6em;
    gap: 4.3em;
}

.div-line-ped {
    margin-top: -4em;
    width: 93%;
    size: 1px;
    height: 2px;
    color: rgba(0, 35, 51, 0.3);
}

.div-input-cod-cad {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 2em;
    padding-right: 2em;
}

.input-pedidos {
    align-content: flex-start;
    flex-shrink: 2rem;
    flex-grow: 2em;
    min-width: 250px;
    width: 25%;
    height: 30px;
    border-radius: 5px;
    border-style: groove;
    border-color: #FFFFFF;;
    color: #002333;
    box-shadow: inset 10px 10px 100px 40px rgba(179, 189, 200, 0.2);   
}

.input-item-ped {
    align-content: flex-start;
    flex-shrink: 2rem;
    flex-grow: 2em;
    margin-top: 0.2em;
    min-width: 250px;
    width: 25%;
    height: 30px;
    border-radius: 5px;
    border-style: groove;
    border-color: #FFFFFF;;
    color: #002333;
    box-shadow: inset 10px 10px 100px 40px rgba(179, 189, 200, 0.2);   
}

.btn-print {
    display: flex; 
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    align-content: flex-end;
    width: 100px;
    height: 25px;
    margin-left: 1em;
    background-color: #159A9C;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 3px 2px 2px rgba(20, 154, 157, 1);
}

.dados-cliente {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #002333 ;
    height: 100px;
}

.btn-add-ped {
    display: flex; 
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 100px;
    height: 25px;
    margin-left: 1em;
    background-color: #159A9C;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 3px 2px 2px rgba(20, 154, 157, 1);
}

.div-lista-ped {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 90%;
    height: 10em;
    border-radius: 15px;
    margin: 0.1em;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 10px 10px 100px 2px rgba(179, 189, 200, 0.4);
    border-style: groove;
    border-color: rgba(0, 35, 51, 0.3);
    overflow-y: scroll;   
}

.div-btn-forms {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px 0;
    order: 2;
    padding-bottom: 1em;
    align-self: flex-end;
    width: 4em;
    height: 98%;
}

.conteudo-pedido {
    display: flex;
    justify-content: space-between;
    background-color: #159a9c4b;
    width: 99%;
    height: 22px;
    padding: 5px 5px 0 5px;
    margin-bottom: 2px; 
    font-size: 1em;
    color: black;   
}

.conteudo-pedido:hover {
    background-color: #159a9c62;
     
}

.div-form-consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
}

.div-elemento-consulta {
    display: flex;
    justify-content: space-between;
    background-color: #159a9c4b;
    width: 100%;
    height: 22px;
    padding: 5px 5px 0 5px;
    margin-bottom: 2px;
}

.div-form-conteudo-consulta {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    width: 80vw;
    height: 55vh;
    border-radius: 15px;
    margin: 0.8em;
    box-shadow: inset 10px 10px 100px 2px rgba(179, 189, 200, 0.4);
    border-style: groove;
    border-color: rgba(0, 35, 51, 0.3);
}


.div-elemento-consulta:hover {
    background-color: #159a9c62;
}

.conteudo-consulta{
    font-size: 1em;
    color: black;
}

.icon-div-element {
    align-self: center;
    width: 60px;
}

.elemento-editar {
    background-image: url(../img_icones/icons8-edit-16.png);
    background-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    align-content: center;
    margin-right: 5px;
}

.elemento-editar:hover{
    background-color: #002333b9;
    border-radius: 5px;
    background-size: 1.7em;
    width: 1.7em;
    height: 1.7em;
    background-image: url(../img_icones/icons8-edit-16W.png);
}

.elemento-deletar {
    background-image: url(../img_icones/icons8-lixo-16.png);
    background-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    align-content: flex-end;

}

.elemento-deletar:hover {
    background-color: #002333;
    border-radius: 5px;
    background-size: 1.7em;
    width: 1.7em;
    height: 1.7em;
    background-image: url(../img_icones/icons8-lixo-16w.png);
}

.div-input-consulta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 73vw;
    height: 30px;
}

.input-consulta {
    min-width: 180px;
    align-content: center;
    width: 10%;
    height: 25px;
    border-radius: 5px;
    border-style: groove;
    border-color: #FFFFFF;
    color: #002333;
    box-shadow: inset 10px 10px 100px 2px rgba(179, 189, 200, 0.2);
}

.footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}   

.container-footer-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 30px;
    margin-bottom: 15px;
}

.btn-form {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    margin-left: 1em;
    background-color: #159A9C;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 3px 2px 2px rgba(20, 154, 157, 1);
}

.btn-form-consulta {
    align-self: flex-start;
    height: 23px;
}

@media (max-width: 450px) {

    .div-input-consulta {
        justify-content: center;
    }

    .input-consulta {
        width: 90%;
        border-radius: 5px 0 0 5px;
        border-right: none;
    }

    .btn-form-consulta {
        display: flex;
        justify-content: center;
        margin-left: 0;
        width: 32px;
        height: 26px;
        background-image:  url("../img_icones/lupa.png");
        background-repeat: no-repeat;    
        box-shadow: none;
        border-left: none;
        border-radius: 0 5px 5px 0;
    }

    .container-footer-form {
        justify-content: space-around;
    }   
}

.btn-form:hover {
    background-color:  rgba(20, 154, 157, 0.8);
    box-shadow: 0 3px 2px 2px rgba(20, 154, 157, 0.9);
    width: 101px;
    height: 26px;
}


@media (max-width: 830px){    
    
    .form {
        width: 80%;            
        height: 30em;
        flex-direction: column;
    }

    .div-componente {
        align-self: center;
        width: 100%;
        height: 3000em;
        overflow-y: scroll;
    }

   .div-btn-forms {
        justify-content: space-around;
        flex-direction: row;
        width: 100%;

    }
}

@media (max-width: 340px){    
    .container-content {
        height: 90%;
    }
}

